import(methods)

importFrom(graph,nodes,edges)

exportClasses(mim)

exportMethods(display,cliques,edges,nodes)

export(
"as.gmData",
"as.gmData.data.frame",
"as.gmData.momentstats",
"as.gmData.table",
"create.table",
"description",
"description.gmData",
"description<-",
"description<-.gmData",
"deviance.mim",
"DF",
"DF.mim",
"display",
"display.mim",
"editmim",
"fit",
"fitted.mim",
"fixEdges",
"fixSet",
"gmData",
"helpmim",
"imputeMissing",
"latent",
"latent.gmData",
"latent.mim",
"latent<-",
"latent<-.gmData",
"letters2names",
"likelihood",
"list2stringLetters",
"list2stringNames",
"makeNameTable",
"makeNameTable.data.frame",
"makeNameTable.table",
"makeNameTablePrimitive",
"mcm",
"mim",
"mim.cmd",
"mimFormulaLetters",
"mimFormulaNames",
"modelInfo",
"modelTest",
"modelTest.mim",
"momentstats",
"names2letters",
"nominal",
"nominal.gmData",
"nominal<-",
"nominal<-.gmData",
"nthOrderModel",
"obs",
"observations",
"observations.gmData",
"observations<-",
"observations<-.gmData",
"ordinal",
"ordinal.gmData",
"ordinal<-",
"ordinal<-.gmData",
"print.gmData",
"print.mim",
"print.mimproperties",
"print.mimsummary",
"print.modelInfo",
"properties",
"properties.mim",
"retrieveData",
"src2tgt",
"src2tgt.character",
"src2tgt.list",
"src2tgt.NULL",
"stepwise",
"stepwise.mim",
"string2listLetters",
"string2listNames",
"summary.gmData",
"summary.mim",       
"testdelete",
"toMIM",
"toMIM.data.frame",
"toMIM.gmData",
"toMIM.momentstats",
"toMIM.table",
"vallabels",
"vallabels.gmData",
"vallabels<-",
"vallabels<-.gmData",
"variableType"
)
