##
## mimR
##

importFrom(graph,nodes,edges)
##importFrom(gRbase,display)

import(methods)
exportClasses(mim)
##exportMethods(display,cliques,edges,nodes)
exportMethods(cliques,edges,nodes)

export(
       "cellCounts",
       "empCov",
       "create.table",
       "deviance.mim",
       "DF",
       "DF.mim",
       "plot.mim",
       "editmim",
       "update.mim",
       "fit",
       "fitted.mim",
       "fixEdges",
       "fixSet",
       "helpmim",
       "imputeMissing",
       "letters2names",
       "likelihood",
       "list2stringLetters",
       "list2stringNames",
       "mcm",
       "mim",
       "mim.cmd",
       "mimFormulaLetters",
       "mimFormulaNames",
       "modelInfo",
       "modelTest",
       "modelTest.mim",
       "names2letters",
       "nthOrderModel",
       "print.mim",
       "print.mimproperties",
       "print.mimsummary",
       "print.modelInfo",
       "properties",
       "properties.mim",
       "retrieveData",
       "src2tgt",
       "src2tgt.character",
       "src2tgt.list",
       "src2tgt.NULL",
       "stepwise",
       "stepwise.mim",
       "string2listLetters",
       "string2listNames",
       "summary.mim",       
       "testdelete",
       "as.gmData.cellCounts",
       "as.gmData.empCov",
       "toMIM",
       "toMIM.gmData",
       "variableType",
       "formula.mim"       
       )


#"as.gmData",
#"as.gmData.data.frame",
#"as.gmData.momentstats",
#"as.gmData.table",
#"description",
#"description.gmData",
#"description<-",
#"description<-.gmData",
##"gmData",
#"latent",
#"latent.gmData",
#"latent.mim",
#"latent<-",
#"latent<-.gmData",
##"makeNameTable",
##"makeNameTable.data.frame",
##"makeNameTable.table",
##"makeNameTablePrimitive",
##"nominal",
##"nominal.gmData",
##"nominal<-",
##"nominal<-.gmData",
##"obs",
##"observations",
##"observations.gmData",
##"observations<-",
##"observations<-.gmData",
##"ordinal",
##"ordinal.gmData",
##"ordinal<-",
##"ordinal<-.gmData",
##"print.gmData",
##"summary.gmData",
##"vallabels",
##"vallabels.gmData",
##"vallabels<-",
##"vallabels<-.gmData",
